.Portfolio {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.home {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-details h2 {
    margin-top: 20px;
    color: #4B0082; 
}

.profile-details p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 8px 0;
}
nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: violet;
}
.details {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.education-block {
    background-color: #fdfdfd;
    padding: 25px;
    border-radius: 12px;
    width: 85%;
    max-width: 600px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    
}



.education-block h2 {
    color: #4B0082; 
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.education-block p {
    margin: 6px 0;
    line-height: 1.5;
}
.about {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.skills-block, .project-block {
    background-color: #ffffff;
    padding: 30px;
    margin: 30px 0 ;
    border-radius: 15px;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: left;
}

.skills-block ul {
    list-style-type: disc;
    padding-left: 20px;
}

.skills-block li {
    font-size: 16px;
    margin-bottom: 8px;
}
.skills-block h2, .project-block h2{
    color: #4B0082;
}
span {
    font-weight: bold;
    color: #e80303; 
}
